/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .underline-animation {
        position: relative;
        display: inline-block;
      }
      .underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        left: 0;
        bottom: -2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s ease;
      }
      .underline-animation:hover::after {
        transform: scaleX(1);
      }
      .gradient-text {
      background: linear-gradient(to right, black, white);
      -webkit-background-clip: text;
      color: transparent;
    }
    }


    /* scroll */
    html, body {
      height: 100%; /* Asegura que el contenedor principal ocupe toda la altura */
      margin: 0;
      padding: 0;
    }
    
    
   /* .container {
      height: 100%; /* Ocupa toda la altura disponible */
   /* } */
    
    .snap-container {
      overflow-y: scroll;
      scroll-snap-type: y mandatory; /* Desplazamiento vertical obligatorio */
      height: 100vh; /* Ajusta la altura para el contenedor */
      display: flex;
      flex-direction: column;
    }
    
    .snap-item {
      scroll-snap-align: start;
      flex: none;
      width: 100%;
      height: 100vh;
      background: white;
      margin-bottom: 10px; /* Margen entre elementos */
    }
  
      
    .snap-items {
      scroll-snap-align: start;
      flex: none;
      width: 100%;
      height: 70vh;
    }
    
    .snap-footer {
      scroll-snap-align: start;
      flex: none;
      width: 100%;
      height: 7vh;
      background-color: #4b5563;
    }
  
